{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
    <title>Placed</title>
</head>
<body>
    <div class="card shadow" style="width: 300px; margin-left: auto; margin-right:auto;height:200px; ;border-radius: 20px; margin-top: 200px; background-color: rgb(138, 243, 241  );">
        <center><h1 style="padding-top: 110px;font-family: sans-serif;">YOUR ORDER HAS BEEN PLACED</h1></center>    
        
    </div>
    
</body>
</html>